.Topbar {
        background-color: var(--color-black-100);
        color: var(--color-white);
        height: var(--layout-topbar-height);
        width: 100%;
        z-index: 1001;
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        padding: var(--spacing-4);
      
        /* --color-black-300 base */
        box-shadow: 0px 4px 4px hsl(0, 0%, 9.8%, 0.15), 0px 3px 3px hsl(0, 0%, 9.8%, 0.22), 0px 1px 1px hsl(0, 0%, 9.8%, 0.25);
      }
      
      .Topbar-home:focus {
        outline: none;
        box-shadow: none;
        border-radius: 0;
      }
      
      .Topbar-home:focus .Topbar-logo {
        box-shadow: inset 0 0 0 0.2rem var(--color-blue-400);
        border-radius: 0.6rem;
      }
      
      .Topbar-home:focus:not(:focus-visible) .Topbar-logo {
        box-shadow: unset;
        border-radius: unset;
      }
      
      .Topbar-logo {
        padding: 0.8rem 0.9rem;
      }
      
      .Topbar-logo svg {
        display: block;
        fill: var(--color-white);
        width: 15.6rem;
        height: 2.4rem;
      }
      
      .Topbar-nav {
        flex: auto;
      }
      
      .Topbar-actions {
        display: flex;
        align-items: center;
        gap: var(--spacing-2);
      }
      
      .Topbar-actions .Popover-target {
        position: relative;
      }
      
      .Topbar-action {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.2rem;
        height: 3.2rem;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 50%;
      }
      
      .Topbar-action .Icon {
        width: 2.4rem;
        height: 2.4rem;
        fill: var(--color-white);
      }
      
      .Topbar-action .Avatar {
        border: none;
        background-color: transparent;
      }
      
      .Topbar-action:hover {
        background-color: var(--color-gray-600);
      }
      
      .Dropdown-target.Popover-target--active .Topbar-action {
        background-color: var(--color-gray-700);
      }
      
      /* Beamer lowers its target's opacity to .9, so bring it back to full opacity. */
      .Topbar-action.beamer_beamerSelector:hover {
        opacity: 1;
      }
      
      .Topbar-action:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--color-black-100), 0 0 0 4px var(--color-blue-500);
        border-radius: 50%;
        background-color: var(--color-gray-700);
      }
      
      .Topbar-action:focus:not(:focus-visible) {
        box-shadow: unset;
        border-radius: unset;
        background-color: unset;
      }
      
      .Topbar-email {
        font-size: var(--font-size-smaller);
        color: var(--color-gray-300);
      }
      
      /* Override Topbar badge styles (Beamer and Courier Inbox) */
      .Topbar-action .beamer_icon.active,
      .Menu-item .beamer_icon.active,
      .CourierInbox-badge {
        font-family: var(--font-family-base);
        font-size: var(--font-size-smaller-even);
        font-weight: var(--font-weight-semibold);
        line-height: 0.8333333333;
        height: 1.6rem;
        width: unset;
        color: var(--color-white);
        background: var(--color-pink-600);
        border-radius: 0.8rem;
        padding: 0 0.3rem;
        min-width: 1.6rem;
        max-width: 3.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .Topbar-action .beamer_icon.active,
      .CourierInbox-badge {
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
      }
      
      .Menu-item .beamer_icon.active {
        left: 11.2rem;
        top: 50%;
        transform: translateY(-50%);
      
        /* Overrides Beamer's default right positioning so the counter expands to the right: that makes positioning relative
        to the menu item label simpler. */
        right: unset;
      }
      